@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, Upload, $http, $timeout) {

        $('#overlay').fadeIn().delay(300).fadeOut();

        $scope.CustomerRecords = null;
        $scope.CustomerRecords = function () {

            var BussData = {}
            BussData.TerminalCode = $scope.txtTerminalCode;
            BussData.TerminalName = $scope.txtTerminalName;
            BussData.Status = $scope.ChkStatus;
            $http({

                method: 'POST',
                url: "/api/Home/Terminalview",
                data: JSON.stringify(BussData),
            }).success(function (result) {

                $scope.CustomerRec = result;

                $scope.totalItems = $scope.CustomerRec.length;
                $scope.currentPage = 1;
                $scope.numPerPage = 8;
                $scope.paginate = function (value) {
                    var begin, end, index;
                    begin = ($scope.currentPage - 1) * $scope.numPerPage;
                    end = begin + $scope.numPerPage;
                    index = $scope.CustomerRec.indexOf(value);
                    return (begin <= index && index < end);
                };
            });

        };
        $scope.TerminalViewRecords = function () {

             $scope.CustomerRecords();
        }
        $scope.ClearRecords = function () {

            $scope.txtTerminalCode = "";
            $scope.txtTerminalName = "";
            $scope.ChkStatus = "0";
            $scope.CustomerRecords();
        }
        $scope.CustomerRecords();
        $scope.CountryUpdate = function (url, MID)
        {
            localStorage.setItem("TerminalID", url);
            top.location.href = "/Home/Terminal/" + url;

        }
         $scope.AddNew = function () {

            window.location = "/Home/Terminal";
        }
    }

    );

    function ShowPopup(message) {
        swal(message);
    };


</script>

<div ng-app="MyApp" ng-controller="MyController">
    <div class="row">
        <div class="col-md-12" style="text-align:right;">
            <button type="submit" ng-click="AddNew();" class="btn btn-fill btn-success btn-round btntop">
                <i class="material-icons">add</i>

            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        Terminal Master

                    </div>

                </div>
                <div class="card-body">
                    <div class="toolbar">
                    </div>
                    <div class="material-datatables">

                        <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Terminal Code</th>
                                    <th>Terminal Name</th>
                                    <th>Port</th>
                                    <th>Status</th>



                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="i in CustomerRec | filter : paginate | orderBy:'-Statusv'">
                                    <td>{{numPerPage *(currentPage-1)+$index+1}}</td>
                                    <td>{{i.TerminalCode}}</td>
                                    <td>{{i.TerminalName}}</td>
                                    <td>{{i.PortName}}</td>
                                    <td>{{i.StatusName}}</td>

                                    <td class="td-actions text-right">

                                        <button type="button" ng-click="CountryUpdate(i.ID);" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="">
                                            <i class="material-icons">edit</i>
                                        </button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        @*<div id="notFoundDiv" ng-show="(CustomerRec|filter:CountryCode).length==0" style="color: red; font-weight: bold">No Records Found</div>*@
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <p>Showing <span style="padding-left:5px; padding-right:3px;">1</span>to<span style="padding-left:3px; padding-right:3px;">10</span>of<span style="padding-left:3px; padding-right:3px;">40</span>entries</p>
                            </div>
                            <div class="col-md-7" style="text-align:right;">
                                <pagination total-items="totalItems" ng-model="currentPage"
                                            max-size="10" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
                                </pagination>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <input type="text" id="txtTerminalCode" ng-model="txtTerminalCode" class="form-control" placeholder="Terminal Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <input type="text" id="txtTerminalName" ng-model="txtTerminalName" class="form-control" placeholder="Terminal Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Status</label>
                                </div>
                                <div class="col-md-6 input-field" style="text-align:right; padding-right:0;">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="ChkStatus == 1" id="ChkStatus" ng-model="ChkStatus" value="ChkStatus">
                                            <span class="toggle"></span>

                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <button type="submit" ng-click="ClearRecords();" class="btn btn-fill btn-danger searchbtn">Clear</button>
                            <button type="submit" ng-click="TerminalViewRecords();" class="btn btn-fill btn-rose searchbtn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

